 /* Estilos para o card */
 .card {
    margin-top: 80px;
    margin-left: 30px;
    border: 1px solid  #ccc;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    max-width: 600px;
    height: 300px;
    padding: 20px;
    background-color: whitesmoke;
    float: left;
    width: 50%;
    align-items: center;
}

  .card h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  /* Estilos para o formulário */
  form {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: -7px 28px 87px -14px rgba(0,0,0,1);
    background-color: whitesmoke;
    width: 50%;
  }
  label {
    margin-bottom: 10px;
  }
  input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  textarea {
    height: 150px;
  }
  #button {
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
    margin: 20px auto 20px auto;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }

  #buttonB {
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
    margin: 11px auto 20px 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none; 
  }

  .titulo-amigo{
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  .titulo{
    display: flex;
    justify-content: center;
  }

  #numero{
    text-align: center;
    width: 150px;
    display: flex;
    margin: 20px auto 20px auto;
    text-align: center;
  }

  body{
    background: #5de1fc;
  }